h1 {
  background-color: green;
}

body {
  background-color: green;
}

img {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

body img {
  align-content: center;
  margin-left: 300px;
}

h3 {
  align-content: center;
}

body div {
  position:fixed;
    bottom: -875px;
    left: 0%;
    }


